.navbar {
    width: 100%;
    margin: 5px 0;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 5px;
}

.brand_name {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}